<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen de aptitudes profesionales | EDIC</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>


    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
</html>
<body>
<header class="header">
    Examen de aptitudes profesionales para personas aspirantes a mediadores/as privados/as
</header>
<h2 th:text="'Bienvenido, ' + ${name}" class="user-title"></h2>

<div class="final_container instruction-container">
    <div>
        <h2 class="info-h2">Instrucciones
        </h2>
        <h3 style="margin-top: 4em;">
        </h3>
        <ol class="list-container">
            <li>Su evaluación es personal, debe responder sólo usted ya que no hay respuestas correctas o incorrectas, es decir, cualquier ayuda podría llegar a representar algo negativo o engañoso en su perfil. Le sugerimos hacerlo en un lugar donde pueda estar 100% dedicado a realizarlo, sin distracciones y lo más tranquilo posible.</li>
            <li>Su evaluación sólo estará activa de 10:00 a 12:00 hrs, no podrá entrar antes ni después de ese horario.</li>
            <li>Es importante contestar con lo primero que le venga a la mente y sin sobre-pensar las respuestas.</li>
            <li>Al finalizar toda su evaluación, asegúrese de dar clic en el botón de “Enviar respuestas”, de lo contrario sus respuestas no serán registradas.</li>
            <li>MUY IMPORTANTE: No podrá regresar a preguntas anteriores y no podrá avanzar a la siguiente pregunta hasta que haya respondido la sección donde se encuentre. Evite dar clic a la flecha de regresar en el navegador, ya que esa acción lo sacará del sistema.</li>
        </ol>
        <p>Estaremos muy pendientes de su proceso y totalmente a sus órdenes, si desea contactarnos por cualquier duda de su evaluación, estaremos en la siguiente liga de Zoom:</p>
        <br>
        <a class="zoom-link" href="https://zoom.us/j/95423430378">https://zoom.us/j/95423430378</a>
        <br><br>
        <p>Tema: Atención a dudas - Evaluación Psicométrica para Mediadores
            Hora: 2 mayo 2023 10:00
            a 12:00, Ciudad de México
            Unirse a la reunión Zoom</p>
    </div>

    <a href="/exam/start" class="acepto_a">Click aquí para comenzar evaluación</a>

</div>
</body>
</html>