<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="username" th:content="${username}">
    <title>Examen de aptitudes profesionales | EDIC</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
</html>
<body>
<header class="header">
    Examen de prueba - Especialidad de Innovación
    <img src="/images/tese-logo.svg" class="header-logo">


</header>
<h2 th:text="'Bienvenido, ' + ${name}" class="user-title"></h2>
<div id="app"></div>
<script type="text/babel" src="/js/components/CLOSED_DA.js"></script>
</body>
</html>